# Ігнорувати файл з паролями
.env
integration.env
# Ігнорувати бекапи бази даних
*.sql

# Логи
*.log
logs/
**/logs/

# Конфіги
dspace/config/local.cfg
dspace/config/submission-forms.xml
ui-config/config.yml
nginx/conf.d/dspace.conf

archive/