services:
  dspace:
    container_name: dspace
    environment:
      dspace__P__dir: /dspace
      dspace__P__name: 'DSpace Started with Docker Compose'
      db__P__url: 'jdbc:postgresql://dspacedb:5432/dspace'
      solr__P__server: http://dspacesolr:8983/solr
      matomo__P__tracker__P__url: http://matomo
      proxies__P__trusted__P__ipranges: '172.23.0'
      LOGGING_CONFIG: /dspace/config/log4j2-container.xml
    image: "${DOCKER_REGISTRY:-docker.io}/${DOCKER_OWNER:-dspace}/dspace:${DSPACE_VER:-latest}"
    depends_on:
      - dspacedb
      - dspacesolr
    networks:
      - dspacenet
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    volumes:
      - assetstore:/dspace/assetstore
      - ./dspace/config:/dspace/config
    entrypoint:
      - /bin/bash
      - -c
      - |
        while (!</dev/tcp/dspacedb/5432) > /dev/null 2>&1; do sleep 1; done;
        /dspace/bin/dspace database migrate
        java -jar /dspace/webapps/server-boot.jar --dspace.dir=/dspace

  dspacedb:
    container_name: dspacedb
    image: "docker.io/postgres:${POSTGRES_VERSION:-15}"
    environment:
      PGDATA: /pgdata
      POSTGRES_DB: dspace
      POSTGRES_USER: dspace
      POSTGRES_PASSWORD: dspace
    networks:
      - dspacenet
    volumes:
      - pgdata:/pgdata

  dspacesolr:
    container_name: dspacesolr
    image: "${DOCKER_REGISTRY:-docker.io}/${DOCKER_OWNER:-dspace}/dspace-solr:${DSPACE_VER:-latest}"
    build:
      context: ./dspace/src/main/docker/dspace-solr/
      additional_contexts:
        solrconfigs: ./dspace/solr/
      args:
        SOLR_VERSION: "${SOLR_VER:-9.8}"
    networks:
      - dspacenet
    working_dir: /var/solr/data
    volumes:
      - solr_data:/var/solr/data
    user: root
    entrypoint:
      - /bin/bash
      - -c
      - |
        init-var-solr
        precreate-core authority /opt/solr/server/solr/configsets/authority
        cp -r /opt/solr/server/solr/configsets/authority/* authority
        precreate-core oai /opt/solr/server/solr/configsets/oai
        cp -r /opt/solr/server/solr/configsets/oai/* oai
        precreate-core search /opt/solr/server/solr/configsets/search
        cp -r /opt/solr/server/solr/configsets/search/* search
        precreate-core statistics /opt/solr/server/solr/configsets/statistics
        cp -r /opt/solr/server/solr/configsets/statistics/* statistics
        precreate-core qaevent /opt/solr/server/solr/configsets/qaevent
        cp -r /opt/solr/server/solr/configsets/qaevent/* qaevent
        precreate-core suggestion /opt/solr/server/solr/configsets/suggestion
        cp -r /opt/solr/server/solr/configsets/suggestion/* suggestion
        chown -R solr:solr /var/solr
        runuser -u solr -- solr-foreground

volumes:
  assetstore:
  pgdata:
  solr_data:

networks:
  dspacenet:
    ipam:
      config:
        - subnet: 172.23.0.0/16